@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../font/iconfont.ttf?t=1659541327767') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shutiao:before {
  content: "\e658";
}

.icon-xiezishousi:before {
  content: "\e65f";
}

.icon-zhangyuxiaowanzi:before {
  content: "\e6a2";
}

.icon-paizhao:before {
  content: "\100db";
}

.icon-xiaomaomi:before {
  content: "\e710";
}

.icon-maotouying:before {
  content: "\e711";
}

